[submodule "third_party/CosyVoice"]
    path = third_party/CosyVoice
    url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "third_party/third_party/wetext"]
	path = third_party/third_party/wetext
	url = https://www.modelscope.cn/pengzhendong/wetext.git
[submodule "third_party/pengzhendong/wetext"]
	path = third_party/pengzhendong/wetext
	url = https://www.modelscope.cn/pengzhendong/wetext.git
